@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');


.App{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background: #3C3B3F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white;
    height: 100vh;
    width: 100vw;
    text-shadow: 2px 2px 2px black; 
}

.App .display{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    height: 600px;
}

.goal {
    font-size: 32px;
    font-weight: 800;
}

.currentMoney {
    font-size: 28px;
    font-weight: 700;
}

.controls {
 display:flex;
 flex-wrap: wrap;
 width: 400px;   
 align-items: center;
 justify-content: space-evenly;
}


button {
 display:inline-block;
 border: 2px solid #3C3B3F;
 padding:0.7em 1.4em;
 margin:0 0.3em 0.3em 0;
 border-radius:0.15em;
 font-weight: 600;
 box-sizing: border-box;
 text-decoration:none;
 text-transform:uppercase;
 color:#FFFFFF;
 background-color:#80b915;
 box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
 text-align:center;
 position:relative;
 width: 80px;
}
button:active {
 top:0.1em;
}